.page-body .content-title {
  position: relative;
  height: 80px;
  line-height: 80px;
  font-size: 16px;
  font-weight: bold;
  text-indent: 70px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 1px;
}
.page-body .content-title i {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 25px;
  left: 35px;
  background: url("../img/user_manage.png") no-repeat;
}
.page-body .content-wrapper {
  width: 100%;
  display: flex;
  min-height: 700px;
  margin-bottom: 25px;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px 0;
  flex-direction: column;
}
.page-body .content-wrapper .search-group {
  margin-left: 100px;
  margin-top: 10px;
}
.page-body .content-wrapper .search-group button {
  margin-left: 5px;
}
.page-body .content-wrapper table {
  margin: 30px auto;
  width: 80%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}
.page-body .content-wrapper table thead {
  background-color: #dfeffe;
  font-size: 16px;
}
.page-body .content-wrapper table thead tr {
  height: 50px;
}
.page-body .content-wrapper table thead tr th:first-of-type {
  padding-left: 10px;
}
.page-body .content-wrapper table thead tr th:last-of-type {
  position: relative;
}
.page-body .content-wrapper table thead tr th:last-of-type .add-meter {
  margin: 5px 20px 0 0;
  color: #2d8cf0;
  font-size: 20px;
  cursor: pointer;
}
.page-body .content-wrapper table thead tr th.price-unit {
  position: relative;
}
.page-body .content-wrapper table thead tr th.price-unit span {
  position: absolute;
  width: 40px;
  font-size: 12px;
  color: #80848f;
  bottom: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
.page-body .content-wrapper table tbody {
  font-size: 14px;
  color: #80848f;
}
.page-body .content-wrapper table tbody tr {
  height: 40px;
}
.page-body .content-wrapper table tbody tr td:not(.operation-td) {
  max-width: 70px;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.page-body .content-wrapper table tbody tr td:not(.operation-td):first-of-type {
  padding-left: 10px;
}
.page-body .content-wrapper table tbody tr:nth-child(2n) {
  background-color: #e8e8ea3b;
}
.page-body .content-wrapper table tbody button {
  color: #80848f;
  margin: 0 5px;
}
@media (max-width: 1450px) {
  .page-body .content-wrapper table thead {
    font-size: 14px;
  }
  .page-body .content-wrapper table tbody {
    font-size: 12px;
  }
}
.add-meter-modal .ivu-modal-body {
  display: flex;
  flex-direction: column;
  color: #80848f;
}
.add-meter-modal .ivu-modal-body .input-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.add-meter-modal .ivu-modal-body .input-bar span {
  display: inline-block;
  width: 75px;
}
.add-meter-modal .ivu-modal-body .input-bar span i {
  color: red;
  margin-right: 8px;
}
.add-meter-modal .ivu-modal-body .input-bar .ivu-input-wrapper {
  width: 200px;
}
