<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../../img/bt_logo.png">
    <title>智慧能源管理平台-电表管理</title>
</head>

<body>
    <div id="meter-manage" class="page-rout" v-cloak>
        <meter-header></meter-header>
        <layout class="ivu-layout-has-sider">
            <meter-sider></meter-sider>
            <layout class="page-wrapper">
                <breadcrumb class="page-title">
                    <breadcrumb-item type="primary">电表管理</breadcrumb-item>
                    <breadcrumb-item type="primary">
                        <span class="content-group">
                            <!--判断显示选中样式-->
                            <span :class="{unselected:meterType!=='publicMeter'}"
                                data-type="publicMeter"
                                @click="toggleMeterType($event)">
                                三相安规电表
                            </span>
                            <span :class="{unselected:meterType!=='userMeter'}"
                                data-type="userMeter" @click="toggleMeterType($event)">
                                单相电表
                            </span>
                            <span :class="{unselected:meterType!=='prePayMeter'}"
                                data-type="prePayMeter"
                                @click="toggleMeterType($event)">
                                预付费电表
                            </span>
                            <span :class="{unselected:meterType!=='AGMeter'}"
                                data-type="AGMeter" @click="toggleMeterType($event)">
                                单相安规电表
                            </span>
                            <span :class="{unselected:meterType!=='metersStatistics'}"
                                data-type="metersStatistics"
                                @click="toggleMeterType($event)">
                                电表安装统计
                            </span>
                        </span>
                    </breadcrumb-item>
                </breadcrumb>
                <i-content class="page-body">
                    <!--判断显示内容标题-->
                    <div class="content-title" v-if="meterType==='publicMeter'">
                        <i class="public-icon"></i>三相安规电表
                    </div>
                    <div class="content-title" v-else-if="meterType==='userMeter'">
                        <i class="user-icon"></i>单相电表
                    </div>
                    <div class="content-title" v-else-if="meterType==='prePayMeter'">
                        <i class="pre-pay-icon"></i>预付费电表
                    </div>
                    <div class="content-title" v-else-if="meterType==='AGMeter'">
                        <i class="user-icon"></i>单相安规电表
                    </div>
                    <div class="content-title" v-else-if="meterType==='metersStatistics'">
                        <i class="meters-statistics"></i>电表安装统计
                    </div>
                    <div class="content-wrapper">
                        <div class="tree-wrapper">
                            <!--树形控件-->
                            <vrg-tree @father-event="getSonData($event)"></vrg-tree>
                        </div>
                        <div class="main-content" v-if="meterType!=='metersStatistics'">
                            <div class="btn-group">
                                <i-button type="primary" class="real-time-read-meter meter-nowrm"
                                    v-if="meterType!=='prePayMeter'"
                                    @click="getReadData()">
                                    实时抄表
                                </i-button>
                                <i-button type="primary" class="month-read-meter meter-monthrm"
                                    v-if="meterType!=='prePayMeter'"
                                    @click="getReadData(1)">
                                    月度抄表
                                </i-button>
                                <div class="import-data ivu-btn
                             ivu-btn-primary meter-import">
                                    导入
                                    <input type="file" accept=".xls,xlsx,xlsb" @change="importMeters($event)">
                                </div>
                                <div class="update-meters ivu-btn
                            ivu-btn-primary meter-importupdate">
                                    批量更新
                                    <input type="file" accept=".xls,xlsx,xlsb" @change="importMeters($event,1)">
                                </div>
                                <a class="export-data ivu-btn
                            ivu-btn-primary meter-export"
                                    :href="exportUrl">导出</a>
                                <a class="download-model ivu-btn
                             ivu-btn-primary meter-templatedown"
                                    :href="modelUrl">模板下载</a>
                                <i-select class="select-meters" v-if="meterType!=='prePayMeter'"
                                    v-model="lineStatus"
                                    @on-change="loadMeters(location_id,1,lineStatus)">
                                    <i-option v-for="item of lineStatusList" :value="item.value"
                                        :key="item.value">
                                        {{item.label}}
                                    </i-option>
                                </i-select>
                                <i-input class="search-meters" v-model="codeOrAddr"
                                    :placeholder="placeholder">
                                    <i-button slot="append" icon="ios-search" class="meters-code-addr"
                                        @click="loadMeters(location_id,1,
                                          lineStatus,codeOrAddr)"></i-button>
                                </i-input>
                                <!--公共电表所需按钮-->
                                <i-button type="primary" class="bind-meters meter-bindingmeter"
                                    v-if="meterType==='publicMeter'"
                                    @click="bindMeters()">
                                    绑定电表
                                </i-button>
                                <i-button type="primary" class="unbind-meters meter-untiedmeter"
                                    v-if="meterType==='publicMeter'"
                                    @click="unBindMeters()">
                                    解绑电表
                                </i-button>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th v-if="meterType==='publicMeter'"></th>
                                        <th v-if="meterType!=='prePayMeter'">
                                            <Checkbox @on-change="getCheckboxes($event)">
                                            </Checkbox>
                                        </th>
                                        <th>小区名称</th>
                                        <th>电表编号</th>

                                        <!--只有住户电表和单相安规电表显示-->
                                        <th v-if="meterType==='userMeter'||meterType==='AGMeter'">楼栋号</th>
                                        <th v-if="meterType==='userMeter'||meterType==='AGMeter'">房号</th>

                                        <!--只有预付费电表显示-->
                                        <th v-if="meterType==='prePayMeter'">设备密钥</th>
                                        <th v-if="meterType==='prePayMeter'">用户编号</th>
                                        <th v-if="meterType==='prePayMeter'">用户名称</th>
                                        <th v-if="meterType==='prePayMeter'">手机号码</th>
                                        <th v-if="meterType==='prePayMeter'">变比</th>
                                        <th v-if="meterType==='prePayMeter'">剩余金额</th>

                                        <!--预付费电表不显示-->
                                        <th v-if="meterType!=='prePayMeter'">安装位置</th>
                                        <th v-if="meterType!=='prePayMeter'">当前读数</th>

                                        <!--只有公共电表显示-->
                                        <!-- <th v-if="meterType==='publicMeter'">相位</th> -->

                                        <th>电表初始值</th>
                                        <th>用电类型</th>
                                        <th>设备状态</th>
                                        <th class="price-unit">
                                            电价
                                            <span>(元/度)</span>
                                        </th>
                                        <th>相关操作</th>
                                        <th>
                                            <Icon class="add-meter meter-add" type="plus" title="添加电表"
                                                @click="openAddModal()"></Icon>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(meter,index) of metersArr" :key="meter.id">
                                        <td v-if="meterType==='publicMeter'" class="bind-line"
                                            :class="{'bind-line-1':meter.orders===1,
                                    'bind-line-2':meter.orders===2,
                                    'bind-line-3':meter.orders===3}"></td>
                                        <td v-if="meterType!=='prePayMeter'" class="checkbox-td">
                                            <Checkbox @on-change="getCheckboxes($event,meter.id,meter.mid)"
                                                v-model="checkStatus[index]">
                                            </Checkbox>
                                        </td>
                                        <td :title="meter.location_name">{{meter.location_name}}</td>
                                        <td :title="meter.mid">{{meter.mid}}</td>

                                        <!--只有住户电表显示-->
                                        <td v-if="meterType==='userMeter'||meterType==='AGMeter'">{{meter.building}}</td>
                                        <td v-if="meterType==='userMeter'||meterType==='AGMeter'">{{meter.room_number}}</td>

                                        <!--预付费电表显示-->
                                        <td v-if="meterType==='prePayMeter'" :title="meter.mkeys">
                                            {{meter.mkeys}}
                                        </td>
                                        <td v-if="meterType==='prePayMeter'" :title="meter.usercode">
                                            {{meter.usercode}}
                                        </td>
                                        <td v-if="meterType==='prePayMeter'">
                                            {{meter.username}}
                                        </td>
                                        <td v-if="meterType==='prePayMeter'" :title="meter.phonenumber">
                                            {{meter.phonenumber}}
                                        </td>
                                        <td v-if="meterType==='prePayMeter'">
                                            {{meter.ratio}}
                                        </td>
                                        <td v-if="meterType==='prePayMeter'" :title="meter.balance">
                                            {{meter.balance}}
                                        </td>

                                        <!--预付费电表不显示-->
                                        <td v-if="meterType!=='prePayMeter'" :title="meter.install_address">
                                            {{meter.install_address}}
                                        </td>
                                        <td v-if="meterType!=='prePayMeter'">
                                            {{meter.w}}
                                        </td>

                                        <!--只有公共电表显示-->
                                        <!-- <td v-if="meterType==='publicMeter'">
                                            {{meter.phase}}
                                        </td> -->

                                        <td>{{meter.initval}}</td>
                                        <td>{{meter.type}}</td>
                                        <td>{{meter.status}}</td>

                                        <td>
                                            {{meter.price }}
                                        </td>
                                        <td class="operation-td">
                                            <i-button type="ghost" class="meter-update" @click="openEditModal(
                                              meter.id,
                                              meter.mid,meter.w,
                                              meter.initval,
                                              meter.price,
                                              meter.install_address,
                                              meter.phase,meter.type,
                                              meter.status,
                                              meter.building,
                                              meter.room_number,
                                              meter.mkeys,
                                              meter.usercode,
                                              meter.username,
                                              meter.phonenumber,
                                              meter.ratio,
                                              meter.use_electricity_type_id,
                                              meter.plv_id)">
                                                编辑
                                            </i-button>
                                            <i-button type="ghost" class="meter-delete" v-if="meterType!=='prePayMeter'"
                                                @click="deleteMeter(meter.id)">
                                                删除
                                            </i-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <Page class="page-bar" :total="allRow" :current="currentPage" @on-change="getCurrentPage($event)"
                                show-elevator show-total></Page>
                        </div>
                        <div class="main-content" v-else>
                            <table class="statistics-table">
                                <thead>
                                    <tr>
                                        <th>电表类型</th>
                                        <th>当前电表总数(个)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,index) of countMeters" :key="index">
                                        <td>{{item.meter_type}}</td>
                                        <td>{{item.counts}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <Page class="page-bar" :total="allRow" @on-change="getCurrentPage($event)"
                                show-elevator show-total></Page>
                        </div>
                    </div>
                </i-content>
            </layout>
        </layout>

        <!--添加/编辑电表弹窗-->
        <modal class="add-meter-modal" v-model="meterModal"
            :mask-closable="false" :loading="modelLoading"
            @on-ok="submitMeter()">
            <p slot="header" class="modal-header" v-if="isAddModal">添加电表</p>
            <p slot="header" class="modal-header" v-else>编辑电表</p>
            <div class="input-wrapper code-wrapper">电表编号:
                <i-input autofocus v-if="isAddModal" v-model="meterCode"></i-input>
                <span class="meter-code" v-else>
                    {{meterCode}}
                </span>
            </div>

            <div class="input-wrapper">
                安装地址:
                <div class="current-unit" :title="currentAddr">
                    {{currentAddr}}
                </div>
            </div>
            <div class="input-wrapper">
                &nbsp;
                <i-input v-model="installAddr" placeholder="请输入安装位置" @on-blur="getAddrLng"></i-input>
            </div>
            <div class="input-wrapper">
                经度:
                <i-input v-model="meterLon" @on-blur="isNum(meterLon)"></i-input>
            </div>
            <div class="input-wrapper">
                纬度:
                <i-input v-model="meterLat" @on-blur="isNum(meterLat)"></i-input>
            </div>
            <div class="input-wrapper">设备状态:
                <i-select v-model="selectedStatus" @on-change="fn(selectedStatus)">
                    <i-option value="1">启用</i-option>
                    <i-option value="0">禁用</i-option>
                </i-select>
            </div>
            <div class="input-wrapper">
                电价设置:
                <div>
                    <i-input class="electric-price" v-model="electricPrice"
                        @on-blur="isNum(electricPrice)"></i-input>
                    <span>元/度</span>
                </div>
            </div>

            <!--只在公共电表显示-->
            <!-- <div v-if="meterType==='publicMeter'" class="input-wrapper">
                相位:
                <i-select v-model="selectedPhase">
                    <i-option value="A相">A相</i-option>
                    <i-option value="B相">B相</i-option>
                    <i-option value="C相">C相</i-option>
                </i-select>
            </div> -->

            <!--只在住户电表显示-->
            <div class="input-wrapper" v-if="meterType==='userMeter'||meterType==='AGMeter'">
                楼栋号:
                <i-input v-model="buildingNum"></i-input>
            </div>
            <div class="input-wrapper" v-if="meterType==='userMeter'||meterType==='AGMeter'">
                房号:
                <i-input v-model="roomNum"></i-input>
            </div>

            <!--预付费电表不显示-->
            <div class="input-wrapper">
                电表初始值:
                <div>
                    <i-input class="init-price" v-model="initValue" @on-blur="isNum(initValue)"></i-input>
                    <span>度</span>
                </div>
            </div>

            <!--只有预付费电表显示-->
            <div class="input-wrapper" v-if="meterType==='prePayMeter'">
                设备密钥:
                <i-input v-model="mkeys" disabled></i-input>
            </div>
            <div class="input-wrapper" v-if="meterType==='prePayMeter'">
                用户编号:
                <i-input v-model="usercode"></i-input>
            </div>
            <div class="input-wrapper" v-if="meterType==='prePayMeter'">
                用户名称:
                <i-input v-model="username"></i-input>
            </div>
            <div class="input-wrapper" v-if="meterType==='prePayMeter'">
                手机号码:
                <i-input v-model="phonenumber" @on-blur="isPhoneNum(phonenumber)"></i-input>
            </div>
            <div class="input-wrapper" v-if="meterType==='prePayMeter'">
                变比:
                <i-input v-model="ratio" @on-blur="isNum(ratio)"></i-input>
            </div>
            <div class="input-wrapper">
                用电类型:
                <!-- <i-input disabled v-model="elecType"></i-input> -->
                <i-select v-model="elecType">
                    <i-option :value="item.id" v-for="item of elecTypeArr">{{item.type}}</i-option>
                </i-select>
            </div>

            <div class="input-wrapper">
                峰平谷方案类型:
                <!-- <i-input disabled v-model="elecType"></i-input> -->
                <i-select v-model="peakLevelValleyProgramType">
                    <i-option :value="item.id" v-for="item of peakLevelValleyProgramArr">{{item.name}}</i-option>
                </i-select>
            </div>
        </modal>

        <!--抄表弹窗-->
        <modal class="read-meter-modal" :title="readModelTitle"
            v-model="readModal" :mask-closable="false">
            <p slot="header" class="modal-header" v-if="isMonth">月度抄表</p>
            <p slot="header" class="modal-header" v-else>实时抄表</p>
            <div class="info-bar">
                <div class="unit-name">小区名称: {{readAddr}}</div>

                <div class="read-time last-month" v-if="isMonth">上月抄表时间: {{lastMonth}}</div>
                <div class="read-time" v-if="isMonth">本月抄表时间: {{currentTime}}</div>
                <div class="read-time" v-else>本次抄表时间: {{currentTime}}</div>
                <a class="export-data ivu-btn ivu-btn-primary" :href="exportRUrl">导出</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>电表编号</th>
                        <th>安装位置</th>
                        <th class="with-unit">上月抄表读数
                            <span>(kWh)</span>
                        </th>
                        <th class="with-unit">本次抄表读数
                            <span>(kWh)</span>
                        </th>
                        <th class="with-unit">本月用量
                            <span>(kWh)</span>
                        </th>
                        <th class="with-unit" v-if="isMonth">电价
                            <span class="p-unit">(元/kWh)</span>
                        </th>
                        <th class="with-unit" v-if="isMonth">金额
                            <span>(元)</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item of readMeters" :key="item.mid">
                        <td>{{item.mid}}</td>
                        <td>{{item.install_address}}</td>
                        <td>{{item.oldmonthw}}</td>
                        <td>{{item.noww}}</td>
                        <td>{{item.usew}}</td>
                        <td v-if="isMonth">{{item.price}}</td>
                        <td v-if="isMonth">{{item.money}}</td>
                    </tr>
                </tbody>
            </table>
            <div slot="footer"></div>
        </modal>
    </div>

    <script src="../../js/meters_manage.js"></script>
</body>

</html>